header {
    height: 172px;
    width: 100%;
    background-color: black;
}

header .top {
    height: 72px;
    background-color: #121216;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 21px 24px;
}

header .top .menu {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 87%;
    padding: 30px 0px;
    margin: 30px 0px;
}

header .top .menu a img {

    width: 54px;
    height: 32px;
}

header .top .logo {
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;
    cursor: pointer;
}

header .top .logo img {
    width: 28px;
    height: 28px;
}

header .top .arrow {
    font-size: 20px;
    color: rgb(199, 199, 199);
    transform: rotate(-90deg);
}

header .top .menu ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

header .top .menu li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
}

header .top .buttons {
    display: flex;
    gap: 12px;
}

header .top .buttons .sign-in {
    width: 71px;
    height: 32px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    font-size: 15px;
}

header .top .buttons .download {
    width: 93px;
    height: 32px;
    background-color: #26bbff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    color: rgb(37, 37, 37);
    font-weight: 500;
    font-size: 15px;
}

header .top a, header .top button {
    font-family: "Roboto", sans-serif;
}

header .top .menu a{
    font-size: 15px;
    margin: 0px 20px;
    color: #dbdbdb;
    font-weight: 500;
}

header .top .menu .menu-item{
    display: flex;
    align-items: center;
    gap: 8px;
}

.dropdown-menu {
    position: absolute;
    top: 50px;
    left: -15px;
    /* background-color: #1f1f1f; */
    padding: 30px;
    border-radius: 24px;
    box-shadow: 5px 5px 15px 5px rgba(128, 236, 255, 0.15);
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 620px;
    height: 600px;
    transition: .5s;
    backdrop-filter: blur(5px);
  }
  
  .dropdown-section{
    padding: 5px;
    
  }

  .dropdown-section h4 {
    color: #ffffff;
    font-size: 20px;
    
  }
  
  .dropdown-section li {
    display: flex;
    align-items: center;
    gap: 15px;
    color: #dbdbdb;
    font-size: 14px;
    margin: 30px 0px;
  }
  
  header .top .logo .dropdown-menu .dropdown-section ul li img {
    width: 20px;
    height: 20px;
  }

  .dropdown-section:nth-child(2){
    margin: 30px 0px;
  }

  .dropdown-section:nth-child(3){
  position: absolute;
  right: 40px;
  }

  .dropdown-section:nth-child(3)::before{
    content: "";
    position: absolute;
    top: -30px;
    left: -56px;
    width: 1px;
    height: 600px;
    background-color: rgba(97, 97, 97, 0.849);
  }

  .dropdown-section:nth-child(2)::before{
    content: "";
    position: absolute;
    top: 260px;
    width: 300px;
    left: 0px;
    height: 1px;
    background-color: rgba(97, 97, 97, 0.849);
  }